.ContentEditor {
  position: relative;
  background: var(--text-color);
  color: var(--bg-color);
  border-radius: var(--default-border-radius);
  padding: var(--default-spacing);
  padding-top: 0;
  height: 500px;
  overflow-y: scroll;
}

.ContentEditor .toolbar {
  z-index: 5;
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: var(--default-border);
  padding-bottom: var(--default-spacing);
  padding-top: var(--default-spacing);
  margin-bottom: var(--default-spacing);
  background: var(--text-color);
}

.ContentEditor .btns-wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.ContentEditor .toolbar .color-picker {
  flex-direction: column;
  position: relative;
}

.ContentEditor .EditorColorPicker {
  position: absolute;
  margin-top: 0.5rem;
}
