.DeviceTriageCard {
  padding: var(--default-spacing);
}

.DeviceTriageCard .paths {
  margin: var(--default-spacing) 0;
}

.DeviceTriageCard form button {
  margin-top: 0.5rem;
}

.DeviceTriageCard form .inner-wrap {
  display: flex;
}

.DeviceTriageCard form svg {
  margin: auto var(--default-spacing);
}

.DeviceTriageCard form .form-section {
  display: flex;
  align-items: center;
}

.DeviceTriageCard .form-section input {
  margin-right: 0.5rem;
}

.DeviceTriageCard .form-section input:last-of-type {
  margin-right: 0.5rem;
}

.DeviceTriageCard .checkbox-wrap label {
  margin-right: 0.25rem;
}
