.DeviceTriageCard {
  padding: var(--default-spacing);
}

.DeviceTriageCard .paths {
  margin: var(--default-spacing) 0;
}

.DeviceTriageCard form .inner-wrap {
  display: flex;
}

.DeviceTriageCard form .form-section {
  display: flex;
  flex-direction: column;
}
