.IncidentCard {
  min-height: 200px;
  padding: var(--default-spacing);
  border-bottom: var(--border-width) solid var(--bg-color);
  transition: background var(--default-transition),
    border-radius var(--default-transition);
}

.IncidentCard.selected {
  background: var(--accent-color);
  border-radius: var(--default-border-radius);
  border: none;
}

.IncidentCard:first-of-type {
  margin-top: 0;
}
.IncidentCard:last-of-type {
  border-bottom: none;
}

.IncidentCard .incident-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.IncidentCard .incident {
  display: flex;
  align-items: center;
}

.IncidentCard .incident *:last-child {
  border: none;
}

.IncidentCard .machine-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.incident-info .info {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.IncidentCard .incident h2,
.IncidentCard .incident-arms {
  border-right: var(--default-border);
  border-color: var(--bg-color);
}

.IncidentCard .incident-arms {
  padding-right: var(--default-spacing);
  margin-right: var(--default-spacing);
  display: flex;
}

.IncidentCard .incident-arms p {
  margin-right: var(--default-spacing);
}

.IncidentCard .incident-arms p:last-of-type {
  margin-right: 0;
}

.IncidentCard .inputs {
  display: flex;
  align-items: center;
}

.IncidentCard input[type='checkbox'] {
  margin-right: 2rem;
  margin-left: var(--default-spacing);
}

.IncidentCard .incident-header h2 {
  padding-right: var(--default-spacing);
  margin-right: var(--default-spacing);
}

.IncidentCard .svg-btn {
  transform: transform var(--default-transition);
}

.IncidentCard .svg-btn.showing {
  transform: rotate(180deg);
}

.IncidentCard .incident-info p {
  margin-bottom: 0.5rem;
}

.IncidentCard p.full-description {
  margin-bottom: 0;
  white-space: pre-wrap;
}
