.IncidentPrint {
  padding: 0.5rem;
  width: 100vw;
  height: 100vh;
}

.IncidentPrint h2 {
  margin-bottom: 1rem;
  border-color: black;
}

.IncidentPrint p {
  padding: 0.5rem;
  border: var(--default-border);
  border-color: black;
}

.IncidentPrint p.muted-color {
  color: var(--muted-color);
}

.IncidentPrint .info-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.IncidentPrint .info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  border-color: black;
}

.IncidentPrint .barcodes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: var(--default-border);
  padding: 0.5rem;
}
