.IncidentCard {
  padding: 3rem 0;
  border-bottom: var(--border-width) solid var(--bg-color);
  display: flex;
  justify-content: space-between;
}

.IncidentCard:first-of-type {
  margin-top: 0;
}
.IncidentCard:last-of-type {
  border-bottom: none;
}

.IncidentCard .incident-header {
  display: flex;
  align-items: center;
  margin-bottom: var(--default-spacing);
}

.IncidentCard .incident-header h2 {
  border-right: var(--default-border);
  border-color: var(--bg-color);
  padding-right: var(--default-spacing);
  margin-right: var(--default-spacing);
}

.IncidentCard .svg-btn {
  transform: transform var(--default-transition);
}

.IncidentCard .svg-btn.showing {
  transform: rotate(180deg);
}
