.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--default-border);
  padding-bottom: 0.5rem;
  margin-bottom: calc(var(--default-spacing) * 2);
  height: var(--nav-height);
}

.Logo p {
  margin-left: 0.5rem;
}
