.PathTriageCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PathTriageCard .device p,
.PathTriageCard .destination p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
