.PathTriageCard {
  padding: var(--default-spacing) 0;
  border-bottom: var(--default-border);
  border-color: var(--bg-color);
}

.PathTriageCard form.path-form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.PathTriageCard .path-form .inputs {
  display: flex;
  justify-content: flex-start;
}

.PathTriageCard .path-form button {
  margin-right: var(--default-spacing);
}

.PathTriageCard .path-form button:last-of-type {
  margin-right: 0;
}

.PathTriageCard .device {
  display: flex;
  align-items: center;
}

.PathTriageCard .destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
}

.PathTriageCard .device form {
  margin-left: var(--default-spacing);
}

.PathTriageCard:hover .device p,
.PathTriageCard:hover .destination p,
.PathTriageCard:hover .hops {
  color: var(--accent-color);
}

.PathTriageCard:hover .device p,
.PathTriageCard:hover .destination p,
.PathTriageCard:hover .hops {
  transition: color var(--default-transition);
}

.PathTriageCard .main-wrap {
  display: flex;
  justify-content: space-between;
}

.PathTriageCard .device p,
.PathTriageCard .destination p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.PathTriageCard form {
  display: flex;
  flex-direction: column;
}

.PathTriageCard .hops {
  display: flex;
  flex-wrap: wrap;
  margin: 0 var(--default-spacing);
}

.PathTriageCard .hop-wrap {
  display: flex;
  margin-right: 0.5rem;
}

.PathTriageCard .hop-wrap svg {
  margin: auto 0;
}

.PathTriageCard .hop-wrap .HopTriageCard {
  margin-right: 0.25rem;
}

.PathTriageCard .hop-wrap:last-of-type {
  margin-right: 0;
}

.PathTriageCard .inputs {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--default-spacing);
}

.PathTriageCard .inputs button {
  margin-right: var(--default-spacing);
}

.PathTriageCard .inputs button:last-of-type {
  margin-right: 0;
}
