.Print.hidden {
  display: none;
}

@media print {
  @page {
    size: landscape;
    margin: 0in;
  }
  * {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
  }

  *::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  body,
  html,
  div,
  section,
  main {
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
  }

  body,
  html,
  #root {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  nav,
  .NavBar,
  header,
  .Panel,
  footer,
  textarea,
  select,
  button,
  form,
 .inputs {
    display: none !important;
  }

  main {
    padding: 0 !important;
    margin: 0 !important;
  }

  .Print.no-padding {
    padding: 0.6rem !important;
  }

  .Print {
    padding: 1rem 5rem !important;
    color: var(--bg-color) !important;
    background: white !important;
    display: block !important;
    overflow: visible !important;
    height: auto !important;
    max-height: none !important;
  }

  .table-wrap {
    padding: 0 !important;
  }

  table {
    page-break-inside: auto !important;
    width: 100%;
    margin: 0 auto;
  }

  tr {
    page-break-inside: avoid !important;
    page-break-after: auto !important;
  }

  td {
    padding: 0.5rem 0.2rem !important;
  }

  th {
    padding: 0 !important;
  }

  .SpreadsheetGrid th.Spreadsheet__header {
      width: 0 !important;
  }

  .SpreadsheetGrid .Spreadsheet__header,
  .SpreadsheetGrid .Spreadsheet__cell {
      border: 1px solid black !important;
  }

  .SpreadsheetGrid {
      border-radius: 0 !important;
      border: none !important;
  }

  .Print .to-print {
    page-break-after: always;
    break-after: page;
    background: white !important;
    display: block !important;
    overflow: visible !important;
    height: auto !important;
    max-height: none !important;
  }

  .Print .to-print:last-of-type {
    page-break-after: auto;
    break-after: auto;
  }
}
