.SvgButton {
  background: none;
  padding: 0;
}

.SvgButton:hover {
  opacity: 1;
}

.SvgButton:hover path,
.SvgButton.danger:hover path {
  fill: var(--accent-color);
}

.SvgButton.danger path {
  fill: var(--danger-color);
}
