:root {
  --bg-color: #171c1b;
  --text-color: #f6f7eb;
  --muted-text-color: #989898;
  --overlay-bg-color: #262424;
  --accent-color: #2175d9;
  --danger-color: #c13642;
  --warning-color: #de6b48;
  --border-width: 1px;
  --nav-width: 200px;
  --nav-height: 100px;
  --default-transition: 0.1s ease-in-out;
  --default-spacing: 1rem;
  --default-border-radius: 1rem;
  --default-border: var(--border-width) solid var(--overlay-bg-color);
  --body-font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Mozilla';
  src: url('../../public/fonts/MozillaHeadline.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: var(--body-font-family);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  color: var(--text-color);
  max-width: 2000px;
}

body.popup {
  overflow: hidden;
}

path {
  transition: fill var(--default-transition), opacity var(--default-transition);
}

h1,
h2,
h3 {
  font-family: 'Mozilla', Helvetica, Arial, sans-serif;
}

button,
a,
input,
textarea,
p,
label,
.file-label,
select,
option {
  font-size: 1em;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

.panel h2 {
  border-color: var(--bg-color);
}

label {
  position: absolute;
  left: -999999px;
}

.btn,
button,
.file-label {
  cursor: pointer;
  display: inline-block;
  border: none;
  text-decoration: none;
  background: var(--accent-color);
  color: var(--bg-color);
  width: fit-content;
  padding: 0.5rem 0.75rem;
  border-radius: var(--default-border-radius);
  transition: opacity var(--default-transition);
}

.btn:hover,
button:hover,
.file-label:hover {
  opacity: 0.8;
  margin-left: 0;
}

input,
textarea {
  padding: 0.75rem 1rem;
  border-radius: var(--default-border-radius);
  outline: none;
  border: var(--border-width) solid var(--overlay-bg-color);
  background: var(--text-color);
  color: var(--bg-color);
  transition: border var(--default-transition), color var(--default-transition);
}

textarea {
  resize: none;
}

input[type='file'] {
  display: none;
}

.file-wrap {
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  padding-right: 0.75rem;
}

.file-wrap .file-label {
  margin-right: 0.5rem;
}

.file-label {
  position: initial;
  left: initial;
}

input:focus,
textarea:focus {
  border-color: var(--accent-color);
}

input:disabled,
button:disabled {
  opacity: 0.5;
  cursor: default;
}

select {
  background-color: var(--bg-color);
  border-radius: var(--default-border-radius);
  border: none;
  padding: calc(var(--default-spacing) / 2) var(--default-spacing);
  cursor: pointer;
  color: var(--text-color);
  transition: color var(--default-transition);
  outline: 0;
  text-transform: capitalize;
}

select:hover,
select:active {
  color: var(--accent-color);
}

option {
  cursor: pointer;
  color: var(--text-color);
  background: var(--bg-color);
  outline: 0;
}

.block-link {
  display: block;
  width: fit-content;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  border-bottom: var(--border-width) solid transparent;
  transition: opacity var(--default-transition),
    border-color var(--default-transition);
}

a:hover {
  opacity: 0.8;
  border-color: var(--accent-color);
}

.muted-text {
  color: var(--muted-text-color);
}

.danger {
  color: #c13642;
}

.warning {
  color: #de6b48;
}

.svg-btn {
  background: none;
}

.svg-btn:hover {
  opacity: 1;
}

.svg-btn:hover .accent {
  fill: var(--accent-color);
}

.big-checkbox {
  width: 20px;
  height: 20px;
}

input[type='checkbox'] {
  cursor: pointer;
}

.Panel .block-link {
  margin-bottom: 0.5rem;
}

.Panel .block-link:last-of-type {
  margin-bottom: 0;
}
