.BarcodeGenerator form {
  display: flex;
  flex-direction: column;
  margin-right: var(--default-spacing);
  width: max-content;
}

.BarcodeGenerator .inputs {
  display: flex;
  margin-bottom: var(--default-spacing);
  width: max-content;
  border: var(--default-border);
  border-radius: var(--default-border-radius);
}

.BarcodeGenerator textarea {
  width: 100%;
  height: 500px;
}

.BarcodeGenerator .form-wrapper {
  display: flex;
}

.BarcodeGenerator .barcodes-wrapper {
  width: 100%;
}

.BarcodeGenerator .barcodes {
  height: 500px;
  overflow: scroll;
  border-radius: var(--default-border-radius);
  padding: var(--default-spacing);
}

.BarcodeGenerator .barcodes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--default-spacing);
}
