.IncidentManager .file-wrap {
  margin-right: 0.5rem;
}

.IncidentManager .IncidentCard {
  margin-top: var(--default-spacing);
}

.IncidentManager .IncidentCard:first-of-type {
  margin-top: 0;
}

.IncidentManager .selection .inputs {
  margin-right: var(--default-spacing);
}

.IncidentManager .selection .inputs button {
  margin-right: calc(var(--default-spacing) / 2);
}

.IncidentManager .selection .inputs button:last-of-type {
  margin-right: 0;
}

.IncidentManager .print {
  display: none;
}

@media print {
  @page {
    size: landscape;
    margin: 0;
  }

  body,
  html,
  #root {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  nav,
  header,
  .Panel,
  footer {
    display: none !important;
  }

  main {
    padding: 0rem;
    margin: 0;
  }

  .print {
    color: black;
    background: white;
    display: block !important;
  }

  .IncidentPrint {
    page-break-after: always;
    break-after: page;
  }

  .IncidentPrint:last-of-type {
    page-break-after: auto;
    break-after: auto;
  }
}
