.IncidentManager .file-wrap {
  margin-right: 0.5rem;
}

.IncidentManager .IncidentCard {
  margin-top: var(--default-spacing);
}

.IncidentManager .IncidentCard:first-of-type {
  margin-top: 0;
}

.IncidentManager .selection .inputs {
  margin-right: var(--default-spacing);
}

.IncidentManager .selection .inputs button {
  margin-right: calc(var(--default-spacing) / 2);
}

.IncidentManager .selection .inputs button:last-of-type {
  margin-right: 0;
}

.IncidentManager .print {
  display: none;
}

@media print {
  nav,
  header,
  .Panel,
  footer {
    display: none !important;
  }

  .print {
    display: block !important;
  }
}
