.Login .Panel {
  width: 500px;
  height: 400px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Login .logo-wrap {
  display: flex;
  align-items: center;
  margin-bottom: var(--default-spacing);
}

.Login .logo-wrap p {
  height: fit-content;
}

.Login .Logo {
  height: fit-content;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: calc(var(--default-spacing) / 2);
}

.Login form {
  display: flex;
  flex-direction: column;
}

.Login input {
  margin-bottom: calc(var(--default-spacing) / 2);
}

.Login input:last-of-type {
  margin-bottom: var(--default-spacing);
}
