.Panel {
  background: var(--overlay-bg-color);
  padding: var(--default-spacing);
  border-radius: var(--default-border-radius);
}

.Panel header {
  background: var(--overlay-bg-color);
  position: static;
  border-color: var(--bg-color);
  height: fit-content;
  padding-bottom: var(--default-spacing);
  margin-bottom: var(--default-spacing);
}
